.layout-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5rem;
}

@media screen and (min-width: 960px) {
    .layout-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;
    }
}